.hero{
    height: 100dvh;
    padding-block: 20px;
}
.container{
    max-inline-size: 1300px;
    margin-inline: auto;
    padding-inline: 20px;
}

.flex__group{
    display: flex;
    align-items: center;
    gap: 20px;
}