.button{
    --size: 50px;
    width: var(--size);
    height: var(--size);
    display: grid;
    place-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: white;
}